# Distributed under the terms of the GNU General Public License v2

EAPI=7

PYTHON_COMPAT=( {{python_compat}} )

inherit distutils-r1

DESCRIPTION="A lil' TOML parser"
HOMEPAGE="https://github.com/hukkin/tomli"
SRC_URI="{{artifacts[0].src_uri}}"
IUSE=""

LICENSE="MIT"
SLOT="0"
KEYWORDS="*"

BDEPEND="dev-python/pyproject2setuppy[${PYTHON_USEDEP}]"

DISTUTILS_USE_SETUPTOOLS=pyproject.toml

DOCS=( README.md )
